body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper {
    width: 100%;
    display: flex;

    .container {
        width: 50%;
        border-right: 2px solid gray;
        padding: 20px;
        box-sizing: border-box;

        &_result {
            width: 50%;
            border-right: none;
        }

        .task {
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.square {
    // только исправления, новых св-в не добавлять!
    width: 10px;
    height: 10px;
    background-color: green;
    color: white;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 5px 5px 15px 0px black;
    border: 1px solid red;
    align-items: center;
    justify-content: space-between;
    padding: 140px 20px 50px 170px;
}

.clip {
    width: 200px;
    height: 100px;
    background: linear-gradient(to right, #ffa339, #ff82e8) ;
    border-left:  3px solid green;
    border-bottom: 3px solid red;
    clip-path: polygon(0 0,80% 0,80% 20%, 100% 0,100% 100%, 0 100%);
}

.news {
    width: 400px;

    &__title {
        font-weight: 800;
        font-size: 25px;
        text-align: center;
        letter-spacing: -2px;
    }

    &__text {
        text-align: right;
        font-weight: 300;
        text-shadow: #fff 0 0 60px;
       

        .italic {
            font-size: 18;
            
            text-decoration: uppercase;
            text-transform: underline;
        }
    }
}

.perspective {
    width: 200px;
    height: 200px;
    background-color: orange;
    position: relative;
    margin-top: 40px;
   // border-radius: 20px;
   // border: 2px solid red;

    &__inside-1 {
        width: 150px;
        height: 150px;
        background-color: green;
        position: absolute;
        right: -50px;
        top: -50px;
        box-shadow: 0px 0px 10px 0px black;
    }

    &__inside-2 {
        width: 100px;
        height: 100px;
        background-color: red;
        position: absolute;
        left: -50px;
        top: 100px;
        box-shadow: 0 0 10px 0 black;

    }
}
